@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~three-dots/dist/three-dots.css';

/* Custom overrides for dot-carousel */
.dot-carousel {
  background-color: #2865EC; /* New background color */
  box-shadow: 
    9984px 0 0 0 #2865EC, /* New box shadow color */
    9999px 0 0 0 #2865EC, /* New box shadow color */
    10014px 0 0 0 #2865EC; /* New box shadow color */
}

/* Override keyframes for dot-carousel to maintain new color */
@keyframes dot-carousel {
  0% {
    box-shadow: 
      9984px 0 0 -1px #2865EC, 
      9999px 0 0 1px #2865EC, 
      10014px 0 0 -1px #2865EC;
  }
  50% {
    box-shadow: 
      10014px 0 0 -1px #2865EC, 
      9984px 0 0 -1px #2865EC, 
      9999px 0 0 1px #2865EC;
  }
  100% {
    box-shadow: 
      9999px 0 0 1px #2865EC, 
      10014px 0 0 -1px #2865EC, 
      9984px 0 0 -1px #2865EC;
  }
}

/**
 * ==============================================
 * Dot Windmill
 * ==============================================
 */
 .dot-windmill {
  position: relative;
  top: -10px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #2865ec; /* Updated color */
  color: #2865ec; /* Updated color */
  transform-origin: 5px 15px;
  animation: dot-windmill 2s infinite linear;
}
.dot-windmill::before, .dot-windmill::after {
  content: "";
  display: inline-block;
  position: absolute;
}
.dot-windmill::before {
  left: -8.66254px;
  top: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #2865ec; /* Updated color */
  color: #2865ec; /* Updated color */
}
.dot-windmill::after {
  left: 8.66254px;
  top: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #2865ec; /* Updated color */
  color: #2865ec; /* Updated color */
}

@keyframes dot-windmill {
  0% {
    transform: rotateZ(0deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotateZ(720deg) translate3d(0, 0, 0);
  }
}
